@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
:root{
  --primary-color:#ed2c41;
  --white:#fff;
  --black:#151423;
  --dark:#1a182b;
  --lightbg:#f8fafb;
  --darkbg:#1c1929;
}
* {margin: 0;padding: 0;box-sizing: border-box; 
font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;}
body {color: var(--white); overflow-x: hidden;}
body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-thumb {background: var(--primary-color);border-radius: 10px;}
.container{max-width: 1200px;margin: 0 auto;}
/*main section css*/
.main{
  background: url('../images/mainBanner.jpg');
  background-size: 100%;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}
#mainHeader.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);
  width: 100%;
  z-index: 9999;
}
#mainHeader {transition: all 0.3s ease;}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  position: relative;
}
.social-sidebar {
  position: absolute;
  top: 60%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1000;
}
.social-sidebar ul {list-style: none;padding: 0;margin: 0;}
.social-sidebar ul li {margin: 10px 0;}
.social-sidebar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 18px;
  transition: 0.3s ease;
}
.social-sidebar ul li a:hover {
  background: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}
.social-sidebar .line {
  width: 2px;
  height: 50px;
  background: var(--primary-color);
}
.social-sidebar .follow-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--white);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.logo img {
  height: 60px;   /* adjust size here */
  width: auto;
  object-fit: contain;
  display: block;
}
.logo i{color: var(--primary-color);}
.nav ul {display: flex;list-style: none;gap: 30px;}
.nav ul li {cursor: pointer; font-weight: 500;}
.nav ul li:hover{color: var(--primary-color);}
.hamburger {display: none;font-size: 28px;color: var(--white);}
.hero .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;
  gap: 100px;
}
.left {mix-width: 600px;}
.left h5 {color: var(--white);font-size: 14px;margin-bottom: 10px;
font-weight: 200; padding-top: 70px; letter-spacing: 1px;}
.left h1 {font-size: 5.5rem;line-height: 1.2;}
.left h1 span {color: var(--primary-color);}
.left p {margin: 20px 0;color: var(--white); letter-spacing: 0.6px;
font-weight: 400;}
.buttons {display: flex;gap: 15px; z-index: 99; position: relative;}
.redBtn, .whiteBtn {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 46px!important;
  letter-spacing: 2px;
  font-weight: 700!important;
  text-align: center;
  text-decoration: none;
  font: 16px arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .35s;
  text-transform: uppercase;
}
.redBtn {border: 3px solid var(--primary-color);color: var(--primary-color);}
.whiteBtn {border: 3px solid var(--white);color: var(--white);}
.redBtn:before, .redBtn:after,
.whiteBtn:before, .whiteBtn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  border: none; 
  transition: .35s;
}
.redBtn:before {top: -100%;background: var(--primary-color);opacity: .5;}
.redBtn:after {top: -100%;background: var(--primary-color);transition-delay: .2s;}
.whiteBtn:before {top: 100%;background: var(--white);opacity: .5;}
.whiteBtn:after {top: 100%;background: var(--white);transition-delay: .2s;}
.redBtn:hover {color: var(--white);}
.whiteBtn:hover {color: var(--primary-color);background: var(--white);}
.redBtn:hover:before,
.redBtn:hover:after,
.whiteBtn:hover:before,
.whiteBtn:hover:after {top: 0;}
.right {width: 400px;flex-shrink: 0;}
.swiper {width: 100%;height: 500px;}
.swiper-slide img {width: 100%;height: 100%;object-fit: cover;}
.swiper-pagination {bottom: 20px !important;}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    background: var(--primary-color);
}
/*service section css*/
.services {max-width: 1200px;margin: auto;padding: 100px 20px;}
.row {display: flex;flex-wrap: wrap;gap: 0px;}
.title-box {flex: 1 1 43%;min-width: 350px;}
.subheading {
  color: var(--primary-color);
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.subheading:before {
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: var(--primary-color);
  right: -46px;
  top: 15px;
}
.heading {
  font-size: 3.2rem;
  color: #222;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}
.heading:after {
  position: absolute;
  content: "";
  left: -15px;
  top: -62px;
  background: url(../images/section1.png);
  width: 63px;
  height: 63px;
  display: inline-block;
  background-repeat: no-repeat;
}
.service-card {
  background: var(--lightbg);
  flex: 1 1 calc(20% - 20px);
  min-width: 200px;
  max-width: 350px;
  padding: 50px;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 0 6px rgb(26 46 85 / 10%);
}
.cardHover:hover:before {height: 100%;}
.cardHover:hover i,
.cardHover:hover p,
.cardHover:hover h4 {color: var(--white);position: relative;z-index: 1;}
.cardHover:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 0;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.whiteCard{background: var(--white);}
.service-card:hover {transform: translateY(0px);}
.service-card.active {background: var(--primary-color);color: var(--white);}
.service-card i {font-size: 46px;color: var(--primary-color);margin-bottom: 15px;}
.service-card.active i {font-size: 46px;color: var(--white);}
.service-card.active h4{color: var(--white);}
.service-card h4 {font-size: 24px;color: var(--black);margin: 10px 0;}
.commonPara {font-size: 16px;color: #666;font-weight: 500;}
.service-card.active p {color: var(--white);}
.read-more {
  background: var(--primary-color);
  color: var(--white);
  padding: 15px 25px;
  display: inline-block;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 70px;
}
.read-more:hover {background: #b71c1c;}
/*skills section css*/
.skills-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 50px;
  background: var(--darkbg);
}
.skill-img {flex: 1 1 45%;position: relative;}
.skill-img img {width: 100%;margin-bottom: -6px;}
.counter-badge {
  background: var(--primary-color);
  color: var(--white);
  width: 180px;
  height: 180px;
  border-radius: 50% 50% 0;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.counter-badge h2 {font-size: 3.5rem;margin: 0;}
.counter-badge p {font-size: 16px;margin: 5px 0 0;font-weight: 500;}
.skill-content {flex: 1 1 45%;}
.skill-content p {
  font-size: 16px;
  max-width: 500px;
  color: #ccc;
  margin: 20px 0px;
}
.progress-bar {margin: 15px 0;max-width: 600px;}
.progress-bar span {display: block;font-weight: 500;margin-bottom: 5px;}
.bar {
  background: #333;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.bar-fill {
  height: 100%;
  background: var(--primary-color);
  width: 0;
  border-radius: 4px;
  transition: width 2s ease;
}
/*about section css*/
.about-section {background: var(--lightbg);}
.about-section .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
  gap: 50px;
}
.about-img {flex: 1 1 45%;position: relative;}
.about-img img {width: 100%;border-radius: 50%;}
.about-content {flex: 1 1 45%;}
.feature-list {list-style: none;padding: 0;}
.feature-list li {margin-bottom: 10px;font-size: 16px;font-weight: 500;color: #333;}
.feature-list li i {
  color: var(--primary-color);
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}  
.signature {margin-top: 30px;display: flex;align-items: center;gap: 15px;}
.signature img{width: 50px;}
.signature-info {font-size: 14px;color: #333;}
/*choose section css*/
.choose-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 50px;
}
.choose-content {padding-left: 50px;flex: 1 1 45%;}
.accordion {background: none;border: none;width: 100%;}
.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  cursor: pointer;
}
.accordion-item.active .content {
  max-height: 200px;
  opacity: 1;
  padding-top: 10px;
}
.accordion-item .title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: var(--dark);
}
.accordion-item .title span{display: inline-block;color: var(--primary-color);}
.accordion-item .content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  opacity: 0;
  font-weight: 500;
  color: #555;
}
.choose-img {flex: 1 1 45%;position: relative;}
.choose-img img {width: 100%;margin-bottom: -6px;}
.blueBadge{
  background: var(--dark);
  color: var(--primary-color);
  border-radius: 50% 50% 50% 50% 0%;
  left: 30px;
}
/*project filter section css*/
.case-studies {max-width: 1200px;margin: 40px auto;padding: 0 20px;text-align: center;}
.galleryHeading:after{left: 42%;}
.filter-buttons {margin-bottom: 20px;}
.filter-btn {
  border: none;
  background: none;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  padding: 8px 15px;
  border-bottom: 2px solid transparent;
  color: #333;
}
.filter-btn.active {color: var(--primary-color);border-color: var(--primary-color);font-weight: bold;}
.filter-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.filter-item {
  position: relative;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.filter-item:hover {transform: scale(1.05);}
.filter-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
  z-index: 1;
}
.filter-item:hover img {transform: scale(1.1);}
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgb(218 65 72 / 68%);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-item:hover .overlay {opacity: 1;}
.overlay-text {
  color: #fff;
  font-size: 18px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
}
.filter-item:hover .overlay-text {transform: translateY(0);opacity: 1;}
/*counter section css*/
.counter-section {
  background: url('../images/counterbg.jpg'); 
  color: #fff;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
}
.counter-box {flex: 1 1 200px;max-width: 250px;}
.counter-box i {font-size: 4rem;margin-bottom: 15px;display: block;}
.counter-number {font-size: 35px;font-weight: bold;}
.counter-title {margin-top: 10px;font-size: 16px;}
/*testimonial section css*/
.testimonial-section {
  display: flex;
  flex-wrap: wrap;
  background: var(--darkbg);
  align-items: center;
  justify-content: normal;
}
.testimonial-img {flex: 1 1 900px;max-width: 900px;margin-bottom: -6px;}
.testimonial-img img {width: 100%;}
.testimonial-content {
  flex: 1 1 430px;
  max-width: 430px;
  padding: 20px 40px;
  background: var(--darkbg);
}
.testimonial-content .quote {
  font-size: 6rem;
  color: var(--primary-color);
  margin-bottom: -20px;
}
.testimonial-content p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}
#mySwiper1 {width: 100%;height: 550px!important;}
.customPagination {border-radius: 0px!important;bottom: -22px !important;margin-left: -107px;}
.testimonial-author {display: flex;align-items: center;margin-top: 20px;}
.testimonial-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.testimonial-author h4 {margin: 0;font-size: 18px;}
.testimonial-author span {font-size: 14px;color: #ccc;}
/*blog section css*/
.blog-section {max-width: 1200px;margin: 0 auto;text-align: center;}
.blog-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.blog-card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.blog-card:hover {transform: translateY(-10px);}
.blog-card img {width: 100%;height: 200px;object-fit: cover;}
.blog-content {padding: 15px;text-align: left;}
.blog-meta {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
.blog-meta i{color: var(--primary-color);padding-right: 5px;}
.blog-title {font-size: 18px;color: var(--dark);font-weight: 600;margin-bottom: 15px;}
.blog-button {
  background: var(--primary-color);
  color: var(--bg-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}
/*footer section css*/
#backToTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: var(--primary-color);
  color: var(--white);
  border: 3px solid var(--primary-color);
  padding: 9px 14px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
#backToTop:hover{
  background: var(--white);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}
.newsletter-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: -100px;
}
.newsletter {
  background: url('../images/counterbg.jpg');
  padding: 20px 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: -170px;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.newsletter-content {flex: 1 1 400px;padding: 10px;}
.newsletter-form {
  flex: 1 1 300px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.newsletter h2 { font-size: 3rem; margin-bottom: 10px; }
.newsletter p { margin-bottom: 10px; }
.newsletter input {
  padding: 20px;
  width: 300px;
  border: none;
  border-radius: 4px 0 0 4px;
}
.newsletter button {
  padding: 10px 20px;
  border: none;
  background: #111;
  color: var(--text-color);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
footer {
  background: url('../images/footer.png'), var(--dark);
  color: var(--text-color);
  padding: 80px 20px 40px;
  position: relative;
  margin-top: 150px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-section {flex: 1 1 200px;margin: 20px;}
.footer-section h3 { color: var(--white); margin-bottom: 10px; font-size: 2rem;}
.footer-section h3 span{color: var(--primary-color);}
.footer-section h3 i{color: var(--primary-color);}
.footer-section ul { list-style: none; padding: 0; }
.footer-section ul li { margin-bottom: 8px; color: var(--accent-color);
    font-weight:500;position:relative;padding-left: 20px; }
.footer-section ul li:hover{color: var(--primary-color);}
.footer-section ul li:before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 10px;
  left: 2px;
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
}
.footer-section p { color: var(--accent-color); font-weight:500; }
.social-icons {display: flex;gap: 10px;margin-top: 10px;}
.social-icons a {
  background: #292643;
  color: var(--text-color);
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  width: 37px;
  text-align: center;
  padding-top: 10px;
}
.social-icons a:hover{background: var(--primary-color);}
.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--primary-color);
  margin-top: 20px;
  padding-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-bottom p{font-weight: 400;}
@media (max-width: 768px) {
  .main{background-size: cover;}
  .hero .container{padding: 20px;}
  .nav ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background: #0d0d2b;
  width: 100%;
  z-index: 999;
  padding: 20px;
  }
  .nav ul.show {display: flex;}
  .hamburger {display: block;}
  .hero .container {flex-direction: column;text-align: center;}
  .social-sidebar{display: none;}
  .right, .left {width: 100%;}
  .left h1{font-size: 3rem;}
  .read-more{padding: 15px 83px;}
  .row {flex-direction: column;align-items: center;}
  .about-section {flex-direction: column;}
  .about-img, .about-content {flex: 1 1 100%;}
  .skill-content{padding: 20px;}
  .choose-section {flex-direction: column;}
  .choose-img, .choose-content {flex: 1 1 100%;}
  .choose-content{padding: 20px;}
  .filter-item {width: 90%;height: 180px;} 
  .counter-box {max-width: 100%;}
  .testimonial-section {flex-direction: column;}
  .testimonial-img{flex: 1; width: 85%;}
  .testimonial-content{max-width: 100%}
  .blog-container {flex-direction: column;align-items: center;}
  .newsletter-wrapper{margin-bottom: 0px;}
  .footer-container { flex-direction: column; align-items: left; }
  .footer-section { margin: 10px 0; text-align: left; }
  .newsletter {width: 90%;top: -200px;padding: 30px 15px;}
  .newsletter input{width: 100%;}
  .footer-bottom{flex-direction: column;}
}